/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Gotham';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button,a:focus {
	outline: none;
	box-shadow: none;
  }

 


//navbar styling
nav.navbar{padding: 0 120px;height:10vh;background-color:white;align-items:center;display:flex;
	.navbar-toggler{height: 45px;width:70px;
		span{display: block;height: 8px;width:100% ;background-color: #000000;border-radius:5px;
			&:nth-of-type(2){margin:5px 0;}
		}
		&:focus{border: none;outline: none;}
	}
	.main-img{
		img{height: 4rem;}
	}
	#navbar{
		ul{align-items: center;
			li{margin: 0 10px;
				&:nth-of-type(3){
					img{position: relative;}
				}
				&:nth-of-type(4){background-color: red;border: none;color:white;border-radius:5px;
					a{color: white;}
					&:hover{background: #4D4D4D;color:red;}
				}
				&:last-of-type{
					span{
						img{height: 20px;padding-right: 10px;}
					}
				}
				a{font-size: 20px;color: #000000;padding-right:20px;display:flex;align-items:center;
				   img{height: 40px;}
				   .fa{color: white;margin-right: 5px;}
				   .login{border: 1px solid #4D4D4D;padding: 5px;border-radius: 20px;margin-right: 12px;}
				   
			}
		}}
	}

}
//nav ends

// currency exchange

.currency-container{position: absolute;right: 200px;top:50px;background-color: white;height: 100px;width:330px;box-shadow: 10px 5px 25px rgba(128, 128, 128, 0.692);display: flex;justify-content: center;align-items: center;border-radius: 5px;z-index: 9999;
	li:hover{background-color: white;
	}
}


//navbar styling ends
.modal-content{
	.modal-header{display: block;height:70px;display:flex;align-self:center;flex-direction:row;
		button{align-self: end;position: absolute;right: 20px;}
		h5{color: red;font-size: 20px;}
	}
	.modal-body{
		form{
		input{margin-bottom: 50px;width: 80%;margin:auto;
			&:nth-of-type(2){margin:20px auto;}
		}
		button{background: red;width: 80%;margin: auto;color: white;text-transform: uppercase;font-family:'Gotham'}
	}
	p{text-align: center;text-transform:capitalize;
		a{color: red;text-decoration: none;padding: 10px;}
	}
}
}


//heroe section starts
.heroe{background: url(./images/Images/iStock-140781367.jpg);height: 90vh;background-position: center 10%;background-repeat: no-repeat;background-size: cover;display:flex;align-items:center;justify-content:center;position:relative;
	.overlay{background-color: black;position: absolute;left:0;right: 0;bottom: 0;opacity: .5;height: 100%;z-index: 1;}
	.search{background-color: red;height: 200px;width:60%;display: flex;flex-direction: column;justify-content:center;padding:0 30px;position: relative;z-index: 999;
		h1{font-size: 30px;align-self: flex-start;padding-bottom: 30px;color: white;}
		form{display: flex;
			input{width:90%;height: 50px;padding: 20px;border: none;background: url(./images/iconmonstr-search-thin-240.png);background-size:30px;background-repeat: no-repeat;background-color: white;padding-left:60px;background-position: 20px center;
				>::placeholder{padding-left: 100px;text-transform: uppercase;text-align: center;}
			}
			button{height: 50px;border: none;padding: 10px;font-size: 16px;text-transform: uppercase;color: red;background-color: #4D4D4D;;}
		}
		ul{padding:12px 0 ;
			li{padding-right: 20px;
				a{font-size: 20px;color: white;text-decoration: none;}
				.dropdown-item{color: #000000;}
			}
		}
	}
}

//heroe section ends

//popular areas starts
.popular-areas{margin:80px 30px;
	h1{text-align: center;font-weight: 900;font-size: 40px;text-transform: uppercase;display:flex;align-items:center;justify-content:center;margin:0 20px;padding-bottom:20px;
		&::before,&::after{height: 4px;width: 200px;background-color:rgba(0, 0, 0, 0.589);display: inline-block;content: '';margin: 35px;}}
		p{text-align: center;font-size: 24px;letter-spacing: 2px;padding-bottom: 150px;}
	
		.showcase{margin-top: auto;width:100%;transition:height 5s ease-in-out;
			
		span{font-size: 18px;font-style: bold;font-weight: bold;display:flex;align-items:center;
			&::after{content: '';width: 50px;height: 4px;background-color: black;display: block;margin-left: 20px;}}
			h5{font-size: 26px;font-weight: bolder;margin: 30px 0;}
		.item{height: 300px;width: 100%;overflow: hidden;box-shadow: 10px 5px 25px rgba(128, 128, 128, 0.692);border-radius:5px;position: relative;transition:height 5s ease-in-out;
			.overlay{position: absolute;top: 0;left: 100%;bottom: 0;background-color: #4D4D4D;display:flex;align-items:center;flex-direction:column;justify-content:center;padding:20px;line-height: 30px; transition: .5s ease;opacity: .7;z-index:1;
				p{color: white;text-transform: capitalize;font-size: 18px;padding-bottom: 20px;text-align:left;z-index: 999;;position: relative;}
				button{width:50%;border: none;background-color: red;color: white;text-transform: uppercase;font-size: 8px;align-self: flex-start;margin: auto;}
			}
			img{height: 100%;}
			&:hover .overlay{width: 100%;left:0}
		}
		
	}
	.showcase:hover{width: 100%;transition:all 5s ease;
		span,h5{color: red;
			&::after{background-color: red;font-weight: 900;font: bolder;}
		}
		.item{height: 350px;width: 100%;overflow: hidden;transition:all 2s ease-in-out;
			img{height: 100%;}
		}
	}	
}
//popular areas ends
// trending areas styling

.trending{margin-bottom: 100px;background-color:rgb(241, 241, 241);padding:80px 0;
	h1{text-align: center;font-weight: 900;font-size: 40px;text-transform: uppercase;display:flex;align-items:center;justify-content:center;margin:0 20px;padding-bottom:70px;
		&::before,&::after{height: 4px;width: 200px;background-color:rgba(0, 0, 0, 0.589);display: inline-block;content: '';margin: 35px;}}
		.card{box-shadow:0px 5px 20px whitesmoke;border:none;border-radius:5px;
			img.card-img-top{position: relative;height:225px !important;}
			// .overlay{position: absolute;height: 50%;background-color: black;width: 100%;top: 0;right: 0;opacity: .5;display: flex;justify-content: space-between;align-items: flex-end;padding: 20px;z-index: 1;}
			.card-body{
				h3{font-size: 18px;font-weight: bolder;font-style: bold;font-weight: 900;padding-bottom: 10px;}
				p{font-family: 'Gotham';display:flex;align-items:center;
					img{height:auto;padding-right: 12px;width: 30px;}
				}
				.services{border-bottom: 2px solid lightgray;border-top: 2px solid lightgray;padding:15px 0px;margin:20px 0;display: flex;justify-content: space-between;text-transform: capitalize;color:#000000;
					span{display: flex;align-items:center;color:#000000;font-family: "Gotham";
						img{height: 30px;width: auto;padding-left: 10px;}
					}
				}
				a{background: red;color: white;margin:0 auto;text-align: center;text-transform: capitalize;padding: 10px;display: flex;justify-content: center;align-items: center;width: 150px;font-family: "Gotham";font-weight:bolder;font-style:bold;font-weight: 900;text-decoration: none;
					span{font-family: "Font Awesome 5 Free";color: white;}
				}
			}
		}
}
.owl-nav{display: flex;justify-content: center;justify-content: space-between;position: relative;top: -200px;
	button{font-size: 60px;background:#4D4D4D;height: 50px;width:50px;border-radius:100%;
		span{font-size: 80px;color: #4D4D4D;}
		&:first-of-type{position: relative;right: 80px;font-size: 60px;}
		&:last-of-type{position: relative;left: 80px;height: 40px;}
		&:focus {outline: none;box-shadow: none;
		  }
	}
}
.owl-dots{display: flex;justify-content:center;margin-top:60px;
		button.owl-dot{height: 20px;width: 20px;border-radius: 100px;background-color: #4D4D4D;margin:0 10px;
			&:focus {outline: none;box-shadow: none;
			}
		}
		button.owl-dot.active{background:red}
	}

//carousel ends


//surbubs search section

section.surbubs{margin-bottom: 120px;
	h1{font-size: 40px;display:flex;align-items:center;font-weight:900;padding-bottom:20px;padding-left:80px;
		&:after{width: 150px;height: 2px;background: #4D4D4D;content: '';display: block;margin-left: 30px;}
	}
	p{font-size: 18px;text-transform: capitalize;padding-bottom: 80px;padding-left:80px;}
	.main-details{padding-bottom: 30px;
		img.img-fluid{height: 400px;position: relative;z-index: -1;}
		.position-relative{left:-400px;}
		.region{display: flex;justify-content:space-between;align-items:center;height: 250px;box-shadow: 10px 5px 25px rgba(128, 128, 128, 0.692);width: 520px;padding:40px 80px;margin:auto;z-index: 999;position: relative;;background-color: #fff;
			.left{
				h5{font-size: 30px;font-weight: bolder;color: red;}
				p{font-size: 15px;text-transform: capitalize;padding: 0;color: #000000;font-weight: bold;}
				button{margin-top: 30px;border: none;height: 37px;width: 150px;box-shadow: 10px 5px 25px rgba(128, 128, 128, 0.692);}
			}
			span{font-size: 80px;}
		}
	}
	.sub-details{height: 200px;width:100%;
		img{width:100%;height: 100%;}

	}
	button.control{background-color: red;margin: 0 auto;display: flex;margin-top: 80px;height: 40px;width: 150px;align-items: center;text-align: center;justify-content: center;color: white;font-family: 'Gotham';border:none;border-radius: 3px;}

}
//surbub section style ends
//community starts
.community{margin-bottom: 80px;
	h2{font-size: 40px;display:flex;align-items:center;font-weight:900;padding-bottom:290px;padding-left:80px;
		&:after{width: 150px;height: 2px;background: #4D4D4D;content: '';display: block;margin-left: 30px;}
	}
	.social-media{text-align: center;width:320px;box-shadow:0px 3px 8px rgb(100,100,100);padding:40px 10px;height:100%;position: relative;border-radius:5px;
		img{height:200px;position:absolute;left:50%;top:-35%;transform: translate(-50%);}
		p{font-size: 18px;text-align: left;padding: 15px 15px;padding-top: 50px;line-height: 30px;text-align: center;}
		span{display:inline-block;padding:10px;color: white;background-color: red;margin: auto;border-radius: 20px;font-size: 20px;}
		button{border: none;height: 37px;width: 100px;color: red;border: 1px solid red;border-radius: 15px;display: block;margin:20px auto;padding:10px;display: flex;align-items: center;width: 150px;justify-content: center;background-color: white;transition:all .5s ease-in-out;
			&:hover{background-color: red;color: white;}
		}
	}
}
//community ends
section.areas{margin:150px 0;
	h1{font-size: 40px;font-weight: bolder;text-align: center;padding-bottom: 60px;}
	h2{font-weight: bold;font-size: 25px;padding-bottom: 40px;}
	a{color:#4D4D4D;display: block;padding-bottom: 12px;font-size: 20px;}
}

// submit form starts
section.submit{background-color: #f1f1f1;display: flex;justify-content:center;align-items: center;padding:50px 20px;
	p{font-size: 25px;}
	img{height: 60px;padding:0 10px;margin-bottom: 22px;}
	form{margin: 0;display: flex;
		input{height: 40px;border:1px solid #000000;width: 300px;padding:0 10px;border-right: none;}
		button{height: 40px;width: 150px;border: none;background: red;color: white;}
	}
	
}
// submit form ends

section.services{background-color: red;padding:50px;
	h5{font-size: 20px;color: white;font-weight: bolder;padding-bottom:20px;}
	ul{
		li{padding-bottom: 5px;
			a{font-size: 16px;color: white;}
		}
	}

}


footer.main-footer{margin-bottom: 30px;
	.footer-inner{justify-content: space-between;align-items: center;padding:60px 0;
		ul{
			li{padding-right: 15px;
				a{color:red;text-transform: capitalize;font-size: 20px;}
			}
		}
		img{height: 50px;}

	}
	.last{display: flex;justify-content:space-between;align-items:center;
		p{font-size: 15px;text-transform: capitalize;}
		.icons{display: flex;align-items:center;
			a{border:2px solid #4D4D4D;padding:10px;text-align:center;margin:10px;transition:all .5s ease-in-out;
				&:hover{background-color: red;}
				img{height: 20px;margin: auto;}
			}
		}
	}
}


























/* Large desktop */
@media (min-width: 1200px) { 

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 800px) and (max-width: 1024px) {  
	
	nav.navbar{padding:0 0px;height:100%;}
	.heroe{
		.search{width: 85%;}

	}

	//surbubs search section

section.surbubs{
	.main-details{
		
		.position-relative{left:auto}
		.region{width:100%;padding: 20px;
		}
	}
	.sub-details{display: none;}
	
}

//surbub section style ends

	
//popular areas starts
.popular-areas{
	.showcase{
		.item{height: 262px;width: 100%;}}
	.showcase.infor{
			.item{height: 262px;width:100%;}}}
//popular areas ends

#owl-carousel > div.owl-nav{display: none;}
//community starts
.community{margin-bottom: 80px;
	
	.social-media{width: 100%;}}
//community ends

// submit form starts
section.submit{
	
	img{height: 30px;}
	form{
		input{width: 100%;font-size: 12px;}
		button{width: 100%;}
	}
	
}
// submit form ends


}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) { 
	nav.navbar{padding:15px 0px;height:100%;
		.main-img{
			img{height: 4rem;padding-left: 30px;}}
		button.navbar-toggler{margin-right: 30px;}
	#navbar{position: absolute;top:100%;background-color: #4D4D4D;width: 100%;padding:30px;z-index: 9999;;
		ul{align-items:flex-start;color: white;
			li{a{color: white;}}}
	}}


    #navbar > div{
		right:12px;top:0;
	}
	#navbar > div > div > ul > li{
		a{color: #4D4D4D !important;}
	}

// submit form starts
section.submit{flex-direction:column;
	
	img{height: 30px;}
	form{
		input{width: 100%;}
		button{width: 100%;}
	}
	
}
// submit form ends


//heroe section starts
.heroe{height: 100vh;
	.search{background-color:transparent;padding:0 0px;width:90%;
		h1{font-size: 30px;align-self: flex-start;padding-bottom: 30px;color: white;}
		form{flex-direction: column;
			input{width:100%;margin-bottom:20px;
				>::placeholder{padding-left:0px;font-size: 16px;}
			}
			button{order: 4;}
		}
		ul{flex-wrap: wrap-reverse;
			li{padding-right:0px;width:48%;background-color: #fff;height: 37px;margin-bottom:20px;margin-right:5px;display:flex;justify-content:left;align-items:center;padding:5px;
				a{color: black;font-size: 16px;}
				.dropdown-item{color: #000000;}
			}
		}
	}
	
}
#owl-carousel > div.owl-nav{display: none;}


//popular areas starts
.popular-areas{margin:40px 0px;
	h1{font-size: 18px;
		&::before,&::after{width: 60px;margin:15px;}}
		p{padding-bottom: 50px;font-size: 16px;}
	
		.showcase{margin-bottom: 40px;
			h5{font-size: 20px;padding:10px;margin: 0;}
			span{padding:10px 0;}
		.item{width:100%;box-shadow: none;
		}
		
	}
	.showcase.infor{width: 100%;
		
		.item{height: 350px;width:100%;box-shadow: none;
		
		}
	}	
}
//popular areas ends

.trending{margin-bottom: 50px;
	h1{font-size: 22px;
		&::before,&::after{height: 4px;width: 60px;margin: 15px;}}
		.card{width: 100%;margin-bottom: 40px;
			img.card-img-top{height:auto;
			
		}}
}
.owl-nav{display: flex;justify-content: center;justify-content: space-between;position: relative;top: -200px;
	button{font-size: 60px;background:#4D4D4D;height: 50px;width:50px;border-radius:100%;
		span{font-size: 80px;color: #4D4D4D;}
		&:first-of-type{position: relative;right: 100px;font-size: 60px;}
		&:last-of-type{position: relative;left: 100px;height: 40px;}
		&:focus {outline: none;box-shadow: none;
		  }
	}
}
.owl-dots{
		button.owl-dot{height: 18px;width: 18px;
		}
	}

//carousel ends
//surbubs search section

section.surbubs{margin-bottom:60px;
	h1{font-size: 20px;padding-left:20px;
		&:after{width: 100px;}
	}
	p{padding-bottom: 30px;padding-left:30px;}
	.main-details{
		
		.position-relative{left:auto}
		.region{width:100%;
		}
	}
	.sub-details{display: none;}
	
}

//surbub section style ends

//community starts
.community{margin-bottom: 30px;
	h2{font-size: 30px;padding-bottom:40px;padding-left:0px;text-align:center;justify-content:center;
		&:after{display: none;}
	}
	.social-media{width:100%;height:380px;margin:25px 0;
		img{display: none;}
		}
	}

//community ends
//section areas
section.areas{margin:40px 0;
	h1{font-size: 26px;}
	h2{font-size: 18px;}

}

footer.main-footer{
	.footer-inner{padding:30px 0;
		ul{
			li{padding-bottom: 20px;
				a{font-size: 14px;line-height: 20px;}
			}
		}
		img{height: 30px;}

	}
	.last{flex-direction: column;align-items:center;
		p{font-size: 12px;line-height: 20px;}
		.icons{
			a{line-height: 20px;}}}}
}




//heroe section ends
@media (max-width:812px) {
    
section.surbubs{margin-bottom:60px;
	h1{font-size: 20px;padding-left:20px;
		&:after{width: 100px;}
	}
	p{padding-bottom: 30px;padding-left:30px;}
	.main-details{
		
		.position-relative{left:auto}
		.region{width:100%;
		}
	}
	.sub-details{display: none;}
	
}
section.community > div > div > div{
	margin-bottom: 6rem !important;
}
}
 @media (max-width:576px){
	nav.navbar{
		.main-img{
			img{height: 2rem;}}
		button.navbar-toggler{margin-right: 30px;}
	}

 }

/* Landscape phones and down */
@media (max-width: 400px) {  
	#carouselExampleFade > div > div.carousel-item.active > div > div.col-12.main-details > div > div.col-md-12.col-lg-4.m-auto.position-relative > div{padding: 20px;}
}